* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* NAV */

.main-nav {
    display: flex;
    list-style: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.fixed {
    position: fixed;
}

.main-nav li {
    font-size: 1.2rem;
    padding: 1rem;
}

.main-nav li a {
    color: white;
    text-decoration: none;
}

.main-nav li.push {
    margin-left: auto;
}

@media only screen and (max-width: 600px) {
    .main-nav li {
        font-size: 1rem;
        padding: 0.7rem;
    }
}

/* COVER */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 5%;
    height: 50vh;
    font-size: 2rem;
}

.container .cover {
    width: 300px;
    height: auto;
    /* justify-self: flex-end; */
}

/* PROJECT GRID */

.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 5% 7%;
    background: rgba(211, 211, 211, 0.329);
}

.box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30%;

}

.box>img {
    width: 100%;
}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 7% 10%;
    background-color: rgba(0, 0, 0, 0.8);
}

.footer-section {
    padding: 3% 5%;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}

.zone {
    cursor: pointer;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}